/* Large desktop */
@media (min-width: 1200px) {

    #header {
        width: 100%;
        height: 150px;
        background: white;
        z-index: 1000;
        position: fixed;
    }

    #header-wrapper {
        width: inherit;
        height: inherit;
        padding: 10px 15px;
    }

    #main-logo {
        width: 30%;
        height: 100%;
        float: left;
    }

    #main-logo img {
        height: inherit;
        padding: 10px;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    #main-nav {
        height: 100%;
        width: 70%;
        float: left;
    }

    #main-nav-wrapper {
        padding: 10px;
        height: inherit;
    }

    #main-nav-wrapper ul {
        height: 100%;
        list-style: none;
        width: 75%;
    }
    #main-nav-wrapper ul li {
        float: left;
        color:#bfbfbf;
        font-weight: 600;
        width: 10%;
        height: inherit;
    }

    #main-nav-wrapper ul li button {
        height: inherit;
        width: inherit;
    }

    #main-nav-wrapper ul li button:hover,
    #main-nav-wrapper ul li button:active {
        background: ;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}