@import 'header.css';
@import 'landing.css';
@import "footer.css";
@import "views/vogelwerkgroep.css";
@import "sidebar.css";
@import "views/index.css";
@import "views/admin.css";

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    color: #272727;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

.wrapper {
    left: 15%;
    right: 15%;
    width: 70%;
}

p {
    color: #272727;
}

h2,h3 {
    color: #5d963f!important;
}
i {
    color: #979797;
}

#sidebar {
    display: none;
}
