@import 'header.css';
@import "footer.css";
@import "views/vogelwerkgroep.css";
@import "sidebar.css";

* {
    color: #272727;
    font-family: sans-serif;
    font-size: 14px;
}

.wrapper {
    position: absolute;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 100%;
}