html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

@media (min-width: 1200px) {
    #landing {
       height: 100vh;
        z-index: -1;
    }
}

#articles .content {
    padding-bottom: 30px;
}
#articles .inner .intro img.image {
    width: 320px;
    height: auto;
    float: right;
}
